body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#canvas {
    display: grid;
    margin: 2rem 0;
    height: 960px;
    width: 960px;
    border: 1px solid black;
}

/* conic-gradient(
#fd084c, #fe9000,
#fff020,
#3edf4b,
#3363ff,
#b10267,
#fd084c); */